*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 50px;
    background-color:#F9E100;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header h1{
    color: #0A59A2;
    -webkit-text-stroke: 1px #9AD8FC;
    font-weight: 200;
    padding: 0 30px;
     font-family: sans-serif;;

}
.header h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    color: blue;
    padding-right: 30px;
    font-family: system-ui;
}
.header h3{
    border: 1px solid black;
    font-size: 35px;
    background-color: #BD176B;
    color: white;
    margin-right: 30px;
   

}
.header h3 span{
    color: yellow;
}
.header h3 span sup{
    position: relative;
    right: 10px;
}
.header h4{
    color: #FBFBFB;
    -webkit-text-stroke:1px #1F0503;
    font-style: italic;
    font-size: 30px;
    font-family: cursive;
}
